RewriteEngine On
RewriteRule ^([^\.]+)$ $1.html [NC,L]

Redirect 301 /fb https://www.facebook.com/groups/utisss/
Redirect 301 /facebook https://www.facebook.com/groups/utisss/
Redirect 301 /discord https://discord.com/invite/8Pn2mHA
Redirect 301 /twitter https://twitter.com/utisss
Redirect 301 /youtube https://www.youtube.com/channel/UCofdfNbVHmhmYhSQriJhLag

Redirect 301 /cyberstart https://forms.gle/jYHkkKH9QdSSw7Mv8

Redirect 301 /calendar https://calendar.google.com/calendar/b/4?cid=dXRleGFzaXNzc0BnbWFpbC5jb20
Redirect 301 /zoom https://utexas.zoom.us/j/91863719320
Redirect 301 /mail https://utlists.utexas.edu/sympa/subscribe/isss

Redirect 301 /mentorship https://forms.gle/ZDAXZjxaZUT4wVpU7
Redirect 301 /hash https://discord.gg/MY6AVg9J3X

Redirect 301 /github https://github.com/utisss
RedirectMatch 301 ^/github/(.+?)?$ https://github.com/utisss/$1
RedirectMatch 301 ^/talks/(.+?)?$ https://github.com/utisss/talks/blob/master/$1
Redirect 301 /talks https://github.com/utisss/talks/
Redirect 301 /videos https://drive.google.com/drive/folders/1fE5Ab4f3PZfswaY-aDVag1HIKGvW4R6B?usp=sharing

Redirect 301 /mail https://utlists.utexas.edu/sympa/subscribe/isss
Redirect 301 /mailinglist https://utlists.utexas.edu/sympa/subscribe/isss
Redirect 301 /feedback https://forms.gle/T5pqXVFq5K86An3T7
Redirect 301 /join https://forms.gle/C6ug9vt4XP8ApHvr7
