RewriteEngine On
# RewriteRule ^([^\.]+)$ $1.html [NC,L]

Redirect 301 /fb https://www.facebook.com/groups/utisss/
Redirect 301 /facebook https://www.facebook.com/groups/utisss/
Redirect 301 /discord https://discord.com/invite/8Pn2mHA
Redirect 301 /twitter https://twitter.com/utisss
Redirect 301 /youtube https://www.youtube.com/channel/UCofdfNbVHmhmYhSQriJhLag
Redirect 301 /instagram https://www.instagram.com/tx.isss/

Redirect 301 /utctfdiscord https://discord.gg/RDDNTV7F62

Redirect 301 /calendar https://calendar.google.com/calendar/b/4?cid=dXRleGFzaXNzc0BnbWFpbC5jb20
Redirect 301 /zoom https://utexas.zoom.us/j/98433562497
Redirect 301 /mail https://list.isss.io/subscription/form

Redirect 301 /hash https://discord.gg/MY6AVg9J3X

Redirect 301 /github https://github.com/utisss
RedirectMatch 301 ^/github/(.+?)?$ https://github.com/utisss/$1
RedirectMatch 301 ^/talks/(.+?)?$ https://github.com/utisss/talks/blob/master/$1
Redirect 301 /talks https://github.com/utisss/talks/
Redirect 301 /videos https://drive.google.com/drive/folders/1fE5Ab4f3PZfswaY-aDVag1HIKGvW4R6B?usp=sharing

Redirect 301 /feedback https://forms.gle/SZyVTspp2iu5N6uF9
Redirect 301 /join https://forms.gle/C6ug9vt4XP8ApHvr7

Redirect 302 /apply https://docs.google.com/forms/d/e/1FAIpQLSeQjJAsAWafxMHQjVgQzxfL_uOtqdr7uo6RdrlusYhEmyMbDw/viewform?usp=sf_link
