Redirect 301 /careers https://docs.google.com/document/d/18fVI1KxupGfPOG-u31sJsLlTW3M76R5ujRQYODAW1c8/edit?usp=sharing
Redirect 301 /fb https://www.facebook.com/groups/utisss/
Redirect 301 /mail https://utlists.utexas.edu/sympa/subscribe/isss
Redirect 301 /ctffeedback https://goo.gl/forms/jXp31H8NFM64mL6v1
Redirect 301 /check-in https://tinyurl.com/y7taq76m
