html, body {
	background-color: black;
}

.header {
	margin: auto;
	margin-top: 24px;
	margin-bottom: 48px;
}

a {
	color: #cc9c6c;
	text-decoration: underline;
}

a:hover {
	color: #d17a24;
	text-decoration: underline;
}

p, h1, h3 {
	color: white;
}

h1 {
	font-family: "Inconsolata";
	margin-top: 24px;
	margin-bottom: 12px;
}


h2 {
	font-family: "Inconsolata";	
	font-size: 24px;
	margin-top: 24px; 
	margin-bottom: 12px;
	color: #c97a18;
}

p {
	font-family: "Inconsolata";
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

li {
	font-family: "Inconsolata";
	font-size: 16px;
	color: white;
}

ul { 
	font-family: "Inconsolata";
	font-size: 16px;
	color: white; 
}

.logo {
 	max-width: 100%;
 	max-height: 375px;
 	float: center;
 	margin: 12px;
	margin-top: 40px;
	margin-left: 50px;
}

.splash {
	width: 100%;
}

.btn {
	width: 148px;
	margin: 6px;
	background-color: #212121;
	margin-bottom: 12px;
	text-decoration: none;
	border: none;
	font-family: "Inconsolata";
}

